/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
}

main {
    padding: 2rem;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 2rem;
}

footer {
    background-color: #2a2a2a;
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}

header {
    background-color: #2a2a2a; /* Fond de header plus sombre */
    border-bottom: 2px solid #111; /* Couleur border-bottom plus sombre */
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #f4f4f4; /* Texte clair */
    font-weight: bold;
}

nav ul li a:hover {
    color: #ccc; /* Texte légèrement plus foncé au survol */
}

main {
    padding: 2rem;
}

#accueil {
    background-color: #2a2a2a; /* Fond plus sombre */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour donner un effet de relief */
    border-radius: 5px; /* Coins arrondis */
    padding: 2rem;
    margin: 6rem auto 2rem; /* Espace plus important entre la section et le header, centrage horizontal */
    max-width: 50%; /* Largeur réduite */
    min-height: 400px; /* Hauteur augmentée */
    display: flex; /* Permet d'afficher le texte à gauche et l'image à droite */
}

.accueil-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2rem;
}

.accueil-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 0.5rem;
}

#projet-courant {
    display: flex;
    position: relative;
    background-color: #2a2a2a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 2rem;
    margin: 6rem auto 2rem;
    max-width: 50%;
    min-height: 400px;
    position: relative; /* Ajoutez cette ligne */
}

.projet-text {
    flex: 1;
    padding-right: 2rem;
    margin-top: 10%;
}

.lien {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .lien a {
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    margin: 0 1rem;
  }
  
  .lien a:hover {
    color: #ccc;
    text-decoration: none;
  }

.projet-image {
    flex: 1;
    display: flex;
    align-items: center;
}

.projet-navigation {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    left: 50%; /* Ajoutez cette ligne */
    transform: translate(-50%, -50%); /* Ajoutez cette ligne */
    display: flex;
    justify-content: space-between;
    width: 80%; /* Ajoutez cette ligne */
    padding: 0 1rem;
    box-sizing: border-box;
    z-index: 1;
  }

.projet-navigation button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #f4f4f4;
    padding: 0 1rem;
}

.projet-navigation button:hover {
    color: #ccc;
}

/* Styles pour le formulaire de contact */
#contact {
    background-color: #2a2a2a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2rem;
    margin: 6rem auto 2rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ajout de cette propriété pour centrer les éléments */
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    display: block;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    background-color: #f4f4f4;
    color: #333;
}

#contact textarea {
    height: 150px;
    resize: vertical;
}

#contact input[type="submit"] {
    display: inline-block;
    background-color: #333;
    color: #f4f4f4;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
}

#contact input[type="submit"]:hover {
    background-color: #444;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
    /* ... autres propriétés ... */
    border: none; /* Retirer les bordures autour des entrées */
    border-bottom: 1px solid #ccc; /* Ajouter une bordure inférieure plus claire */
    background-color: #2a2a2a; /* Changer l'arrière-plan des entrées pour correspondre à l'arrière-plan de la section */
    color: #f4f4f4; /* Changer la couleur du texte pour correspondre à la couleur du texte de la section */
}


#contact input[type="text"], #contact input[type="email"], #contact textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    background-color: #2a2a2a;
    color: #f4f4f4;
}

#contact textarea {
    height: 150px;
    resize: vertical;
}

#contact input[type="text"]:focus, #contact input[type="email"]:focus, #contact textarea:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
}

#contact button[type="submit"] {
    display: inline-block;
    background-color: #333;
    color: #f4f4f4;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
}

#contact button[type="submit"]:hover {
    background-color: #444;
}


#contact input[type="submit"], #contact button[type="submit"] {
    display: inline-block;
    background-color: #333;
    color: #f4f4f4;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
}

#contact input[type="submit"]:hover, #contact button[type="submit"]:hover {
    background-color: #444;
}

#contact-form {
    text-align: center; /* Ajoutez cette propriété pour centrer les éléments du formulaire */
}

#propos {
    background-color: #2a2a2a; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
    padding: 2rem;
    margin: 6rem auto 2rem; 
    max-width: 50%; 
    min-height: 400px; 
    display: flex; 
}

.propos-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2rem;
}

.propos-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.acceui {
    grid-row: 1;
}

.proj {
    grid-row: 2;
    display: flex;
    justify-content: space-around; /* Remplacez "center" par "space-around" pour ajouter de l'espace entre les sections */
}

.proj section {
    width: 40%; /* Ajustez cette valeur pour augmenter ou diminuer la largeur des sections */
}

.pros {
    grid-row: 3;
}



.oni {
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    margin: 0 1rem;
    font-size: 25px;
    text-align: center;
}

#lang-switch {
    background: #000; /* Couleur du fond noir */
    -webkit-appearance: none; /* Pour enlever le style par défaut sur Webkit/Chrome */
    border-radius: 60px;
}

#lang-switch::-webkit-slider-runnable-track {
    background: #000; /* Couleur du fond noir pour la piste du slider sur Webkit/Chrome */
    border-radius: 50%;
}

#lang-switch::-webkit-slider-thumb {
    background: #888; /* Couleur du slider en gris sur Webkit/Chrome */
    -webkit-appearance: none; /* Pour enlever le style par défaut sur Webkit/Chrome */
    height: 20px; /* Hauteur du slider */
    width: 20px; /* Largeur du slider */
    border-radius: 100%; /* Pour rendre le slider arrondi sur Webkit/Chrome */
}

#lang-switch::-moz-range-track {
    background: #000; /* Couleur du fond noir pour la piste du slider sur Firefox */
    border-radius: 50%;
}

#lang-switch::-moz-range-thumb {
    background: #888; /* Couleur du slider en gris sur Firefox */
    height: 20px; /* Hauteur du slider */
    width: 20px; /* Largeur du slider */
    border-radius: 50%; /* Pour rendre le slider arrondi sur Firefox */
}

#lang-switch::-ms-track {
    background: #000; /* Couleur du fond noir pour la piste du slider sur IE/Edge */
    color: transparent; /* Pour enlever le style par défaut sur IE/Edge */
    height: 20px; /* Hauteur du slider */
    border-radius: 50%;
}

#lang-switch::-ms-thumb {
    background: #888; /* Couleur du slider en gris sur IE/Edge */
    height: 20px; /* Hauteur du slider */
    width: 20px; /* Largeur du slider */
    border-radius: 50%; /* Pour rendre le slider arrondi sur IE/Edge */
}